*{
    box-sizing: border-box;
}
@font-face {
    font-family: odiNorse;
    src: url(Norse-Bold.otf);
}

html{
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    margin: 0;
}

.photo-bar{
    display: flex;
    flex-direction: column;
    background: url(nate-bell-M1gaxG1UN1E-unsplash.jpg) no-repeat center center;
    background-size: cover;
    justify-content: space-around;
    color: cornsilk;
    min-width: 50vw;
}

.logo-bar{
    background-color: rgba(34, 67, 18, 0.6);
}
.photo-bar-footer{
    background-color: rgba(34, 67, 18, 0.25);
}

.photo-bar a{
    color: rgb(231, 251, 221);
}


.logo{
    width: 100px;
    height: auto;
}

.photo-bar-footer{
    text-align: center;
    margin-bottom: 0;
    margin-top: auto;
}
.photo-bar-footer p{
    margin: 1px;
    padding: 1px;
}

.logo-bar{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: odiNorse;
    font-size: 50px;
}

.company{
    text-align:end;
    margin: 0;
    padding-top: 5px;
}

.sign-up-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

p{
    font-weight: 600;
}

.mid-bar{
    background-color: rgb(255, 252, 238);
    display: flex;
}

.mid-bar-left{
    max-width: 450px;
}

.mid-bar-right{
    flex-grow: 1;
}
form{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-content: flex-start;
}
.form-entry{
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 200px;
    position: relative;
}

.no-PWD-match{
    position: absolute;
    top: 45px;
    line-height: 10px;
    font-size: 10px;
    color: red;
}

label{
    margin-bottom: 1px;
}

.upper-bar, .mid-bar, .lower-bar{
    padding:  20px; ;
}

.lower-bar p{
    font-weight: 300;
    font-size: small;
}

button{
    padding: 10px;
    border-radius: 5px;
    color: cornsilk;
    background-color: rgb(34, 67, 18);
    border: none;
    font-weight: 700;
}

button:hover{
    background-color: rgba(34, 67, 18, 0.5);
    color: rgb(255, 236, 160);

}

button:disabled{
    background-color: rgba(34, 67, 18, 0.5);
    color: rgb(136, 1, 1);
}

input{
    border: 1px solid rgb(185, 225, 165);
    border-radius: 5px;
}
input:focus{
    box-shadow: 2px 2px 2px rgba(34, 67, 18, 0.5) ;
    border: 2px solid rgb(185, 225, 165);
    outline: none;

}
input:invalid{
    border-color: red;
}